@import url('https://fonts.googleapis.com/css?family=Anton');
body {
  padding-top: 10px;
  padding-bottom: 10px;
} 
.container .navbar-brand {
  font-family: 'Anton', sans-serif;
  color: white;
}

.container .navbar-brand {
  font-family: 'Anton', sans-serif;
  color: white;
  
}

h5 {
  margin-top: -30px;
}

footer {
  margin-top: -20px;
}

.jumbotron {
  background-image: url('../images/blueridge.jpg');
  height: 350px;
}

.jumbotron h1 {
  font-family: 'Anton', sans-serif;
  color: white;
  text-shadow: 3px 2px black;
}

.jumbotron .container {
  font-family: 'Anton', sans-serif;
  color: white;
}

.container h2 {
  font-family: 'Anton', sans-serif;
}

/* Smartphones (portrait and landscape) -----------
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
Styles
  .jumbotron h1 {
  font-size: ;
  font-family: 'Anton', sans-serif;
  color: white;
  text-shadow: 3px 2px black;
}
} */